button {
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    padding: 4px 12px;
    transition: background-color .2s ease-in;
}

button:hover {
    background-color: #e5e5e5;
}

button:active {
    background-color: #ccc;
}
