input[type=checkbox] {
  display: none;
}

label[type=checkbox] {
  color: darkgray;
  background: white;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

input[type=checkbox]:checked + label {
  color: white;
  background: darkgray;
}
