.header {
  position: sticky;
  top: 0;
  background: $background-color;
  padding-bottom: 20px
}

body, button {
  font-family: Consolas, monaco, monospace;
  font-size: 20px;
}

body {
  margin: auto;
  max-width: 1400px;
  background-color: $background-color;
  color: $font-color;
}

.section {
  margin: 40px;
}

.group {
  margin-top: 40px;
  padding: 0 10px 10px;
  color: $font-color;
  background: $element-color;
  border: 1px solid $font-color;
  overflow: auto;
}

.line {
  margin-top: 10px;
}

.right {
  float: right;
}

.tab-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tab {
  width: 30%;
}

.tab label {
  display: block;
  text-align: center;
}