.header {
  position: sticky;
  top: 0;
  background: $background-color;
  padding-bottom: 20px
}

body, button {
  font-family: Consolas, monaco, monospace;
}

body {
  font-size: 15px;
}

.large, button, label {
  font-size: 20px;
}

.audio-control-button-group button {
  width: 50px;
  padding: 2px 6px;
  font-size: 15px;
  //border-radius: 10px;
}

body {
  margin: auto;
  max-width: 1400px;
  background-color: $background-color;
  color: $font-color;
}

.section {
  margin: 40px;
}

.group {
  margin-top: 40px;
  padding: 5px 10px 10px;
  color: $font-color;
  background: $element-color;
  border: 1px solid $font-color;
  overflow: auto;
}

.line {
  margin-top: 5px;
}

.sub-line {
  font-size: 15px;
}

.right {
  float: right;
}

.tab-group {
  display: flex;
  justify-content: space-between;
}

.tab {
  width: 30%;
}

.tab label {
  display: block;
  text-align: center;
}