input[type=radio] {
    display: none;
}

label {
    color: darkgray;
    background: white;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
}

input[type=radio]:checked + label {
    color: white;
    background: darkgray;
}

.radio-group {
    border: solid 3px gray;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
}
